:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --grey: #C0C0C0;
  --dark-grey: #817F80;
  --green: #008080;
  --white: #FFFFFF;
  --blue: #010084;
  --selected-light-grey: #BDBEBD;


  color-scheme: light;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

body {
  background-color: var(--green);
  margin: 0;
  display: flex;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0;
}


@media (prefers-color-scheme: light) {}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

#nav-bar {
  display: flex;
  place-items: center;
  width: 100vw;
  height: 30px;
  background-color: var(--grey);
  color: black;
}

.info-window {
  width: 300px;
  height: 200px;
  background-color: var(--grey);
  border: 2px solid var(--grey);
  height: fit-content;
  padding-bottom: 5px;
  position: absolute;
  z-index: 5;
  top: 10px;
  right: 30px;
}

#mini-nav {
  height: 30px;
  background-color: var(--dark-grey);
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#mini-nav-selected {
  height: 30px;
  background-color: var(--blue);
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-container {
  background-color: var(--grey);
  text-align: center;
  color: black;
  height: 200px;
  padding-top: 20px;
}

.info-container p {
  margin: 0;
}

.ok-button {
  background-color: var(--grey);
  color: black;
  border: 1px solid black;
  width: 60px;
  height: 30px;
  margin: 40px 0;
}

.close-button {
  margin: 3px;
  background-color: var(--grey);
  color: black;
  font-weight: bold;
}


.window-outline {
  background-color: var(--grey);
  color: black;
  width: 600px;
  height: 360px;
}


.window-container {
  background-color: white;
  margin: 0 auto;
  width: 97%;
  height: 88%;
}

embed {
  width: 590px;
  height: 330px;
}

@media (max-width: 600px) {
  .window {
    width: 290px;
    left: 50px !important;
  }

  .window-outline {
    width: 290px;
    height: 220px;
  }

  .window-container {
    height: 190px;
  }

  embed {
    width: 285px;
    height: 100%;
    zoom: 100%;
  }

  .trash {
    gap: 0px;
    height: 180px;
    padding: 0;
    overflow: scroll;
  }

  video {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: var(--grey);
  }
}


.window-title {
  margin-left: 5px;
  display: flex;
  place-items: center;
}

.window-title img {
  width: 15px;
  height: 15px;
  margin-right: 3px;
}

.window-menu {
  background-color: var(--grey);
}

.window-menu ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  gap: 10px;
}

.window-menu ul li:first-of-type {
  margin-left: 5px;
}

.window {
  margin: 0 auto;
  position: absolute;
  border: 2px solid var(--grey);
}

.icon {
  width: 100px;
  display: flex;
  flex-direction: column;
  place-items: center normal;
}

.icon p {
  margin: 0;
}

.time {
  color: black;
  min-width: fit-content;
  margin-left: auto;
  margin-right: 10px;
  border: 1px solid black;
  display: flex;
  place-items: center;
  flex-wrap: none;

}

.time p {
  padding: 0;
  margin: 0;
  margin-right: 5px;
}

.time img {
  margin: 0 5px;
  width: 20px;
}

.start {
  display: flex;
  place-items: center;
  border: 1px solid black;
  height: 20px;
  width: 70px;
}

.start img {
  width: 30px;
}

img {
  padding: 0;
  margin: 0;
}

.task {
  display: flex;
  place-items: center;
  margin-left: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  border: 1px solid black;
  height: 20px;
  width: 160px;
  background-color: var(--selected-light-grey)
}

.task img {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

.desktop .icons {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.music_player img {
  width: 600px;
}

.music_player audio {
  position: absolute;
  top: 70px;
  left: 150px;
  height: 30px;
  width: 260px;
  margin: 0;
  padding: 0;
}

.music_container {
  top: 10px;
  padding: 0;
  margin: 0;
}

.music_player {
  position: relative;
  margin: 0;
}

.music_player .close-button {
  position: absolute;
  top: 28px;
  left: 275px;
  background-color: green;
}

.trash ul {
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  place-items: center;
}

.trash li {
  margin-top: 30px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.trash il {
  padding: 0;
  margin: 0;
}

.trash img {
  width: 100px;
  heigth: 100px;
  border: 1px solid black;
}